body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;
  }
  
  canvas {
    display: inline-block;
    margin: 10px;
  }
  